@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

.backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: hsl(0, 0%, 86%);
}


.container {
    margin: 20px;
    padding: 40px 20px;
    width: 100%;
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    box-sizing: border-box;
}

.inputContainer {
    display: flex;
    gap: 10px;
    width: 100%;
}

label {
    color: hsl(0, 1%, 44%);
    letter-spacing: 2px;
}

input {
    width: 100%;
    font-size: 23px;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
}
 
input:focus {
    border: 1.5px solid hsl(259, 100%, 65%);
}
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    margin: 0px;
    line-height: 1;
}

.buttonContainer {
    padding: 50px 0px;
}

.innerButtonContainer {
    height: 0px;
    border: 1px solid hsl(0, 0%, 86%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: hsl(259, 100%, 65%);
    padding: 20px;
    border-radius: 50%;
    border: 0px;
}

.btn:active {
    background-color: hsl(0, 0%, 8%);
}

img {
    width: 30px;
}

span {
    color:hsl(259, 100%, 65%);
    font-weight: 800i;
}


small {
    color: hsl(0, 100%, 67%);
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
}


@media (min-width: 414px) {

    .container {
        padding: 40px;
        max-width: 600px;
        border-bottom-right-radius: 150px;
    }
    .inputContainer {
        max-width: 400px;
        gap: 20px;
    }
    .buttonContainer {
        padding: 40px 0px;
        width: 100%;
    }

    .innerButtonContainer {
        justify-content: flex-end;
    }

    input {
        font-size: 32px;
    }

    p {
        font-size: 70px;
    }
}